body {
	background: #ddd;
	font-family: "Open Sans",Tahoma,Geneva,sans-serif;
	margin: 0;
}
a {
	color: #0066ff;
}
p {
	font-size: 12px;
	line-height: 1.3em;
}
h2 {
	color: #009FFF;
	font-size: 18px;
	font-weight: 400;
	margin: 0 0 .3em;
}
h3 {
	color: #000;
	font-size: 16px;
	font-weight: 600;
	margin: 0 0 .1em;
}
h4 {
	color: #b27600;
	font-size: 14px;
	font-weight: 600;
	margin: 0 0 .8em;
}

hr {
	border: 0;
	height: 1px;
	background: #333;
}
hr.thick {
	height: 2px;
	background: #00507F;
}

.spc-med {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.spc-sm-s {
	margin-bottom: 10px !important;
}

header {
	background: #00507f;
}
#headerLogo {
	margin: 20px 0;
}
.btn-signIn {
	display: block;
	background: #fff;
	border-bottom: 4px solid #007fcc;
	padding: 5px;
	color: #00507f;
	font-size: 13px;
	line-height: 30px;
	text-decoration: none;
}
.btn-blue {
	display: inline-block;
	background: #265e7f;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	padding: 10px 30px;
}

#mainNav {
	height: 30px;
	background: #007fcc;
}
#mainNav a {
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	line-height: 30px;
	display: inline-block;
	padding: 0 3%;
}
#mainNav .fa {
	font-size: 1.3em;
}
#subject-field {
	width: 100%;
	margin-bottom: 10px;
}
input[type=text] {
		box-sizing: border-box;
		border: 2px solid #ccc;
		border-radius: 4px;
		font-size: 16px;
		background-color: white;
		background-image: url('../images/search.png');
		background-position: 10px 10px; 
		background-repeat: no-repeat;
		padding: 10px 20px 10px 40px;
}

input[type=text]:focus {
		border: 2px solid #009FFF;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
select#sort-order {
	margin-bottom: 10px;
	background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 94% 0;
	background-size: 28px;
	font-size: 16px;
	height: 40px;
	overflow: hidden;
	width: 100%;
	background-color: #00507f;
	color: #fff;
	padding-left: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.online-true {
	color: green;
}
.checkbox {
	display: inline-block;
	white-space: nowrap;
	padding-right: 10px;
	padding-top: 10px;
}
.online-false {
	display: none;	
}
#bodyContent {
	background: #fff;
	padding: 25px 0;
}
.tutorResult {
	padding-top: 20px;
	padding-bottom: 10px;
}
.tutorResult:after {
	content: '';
	display: block;
	padding: 0 0.9375em;
	width: 100%;
	height: 1px;
	background: #aaa;
}
.tutorImage {
	border: 1px solid #999;
	margin: 5px 0;
	display: block;
}

.box-gray {
	background: #eee;
	padding: 10px;
	font-size: 11px;
}
.box-gray a {
	color: #000;
}

.starRating {
	position: relative;
	color: #bbb;
	font-size: 13px;
	display: inline-block;
	white-space: nowrap;
}
.starRating .fa {
	margin-right: 2px;
}
.starsFull {
	position: absolute;
	top: 0;
	left: 0;
	color: #FF7F00;
	overflow: hidden;
	white-space: nowrap;
}

@media only screen and (min-width: 40.063em) {
	.medium-show {
		display: block;
	}
	.medium-hide {
		display: none;
	}
	.medium-text-left {
		text-align: left !important;
	}
	.medium-spc-zero {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
}